@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Funnel Display", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    color: #fff;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #b8b2b283;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 35px;
    margin-top: 40px;
    padding: 12px;
}

a {
    all: unset;
    position: relative;
    cursor: pointer;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}


#container1{
    background-image: url(https://i.pinimg.com/1200x/9a/be/a9/9abea96bd01a1a4c4ebedb0a30b775cc.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.textHome{
    color: white;
    display: flex;
    align-self: start;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 120px;
}

.textHome h1{
    font-family: "Pirata One", system-ui;
    font-size: 110px;
    margin-bottom: 20px;
}

.textHome p{
    font-size: 25px;
    margin-bottom: 20px;
    width: 600px;
    margin-top: 140px;;
}

#container2::before {
    content: "";
    position: absolute;
    top: -300px;        /* Altura da nevoa */
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(
        rgba(207, 13, 13, 0),   /* transparente em cima */
        rgb(0, 0, 0)    /* preto embaixo */
    );
    pointer-events: none;
}